[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
isort = "*"
prospector = "*"
hypothesis = "*"

[packages]
importlib-metadata = "==2.1.1"
gunicorn = "==20.0.4"
click = "==7.1.2"
itsdangerous = "==1.1.0"
Flask = "==1.1.2"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Werkzeug = "==1.0.1"
flask-mongoengine = "*"
mongoengine = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
